/* Avalanche Project by Jodie Weldon, July 2016*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
}
/* Layout */
.container {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

    margin: auto;
    max-width: 100%;
    background-color: #72568f;

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.purple-white {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15% 0;
    background-color: #72568f;
    color: #ffffff;
}

.white-purple {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15% 0;
    background-color: #ffffff;
    color: #72568f;
}
h2, h3, p {
    padding: 20px 5%;
}


#head {
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.nav-bar {

    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}
.nav-bar a {
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
}
.nav-bar a:hover {
    color: #72568f;
    background-color: #ffffff;
}

/* Flex */
.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

/* Media Queries */
@media (min-width: 768px) {
    /* Desktop */
    .nav-bar {
        flex-direction: row;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;

        align-items: center;
        -webkit-align-items: center;
        -moz-align-items: center;

        justify-content: space-between;;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    p {
        font-size: 2em;
    }
}
